<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleMain.css') }}">
    <title>Login</title>
</head>
<body>
    <form method="POST" action="/login">
        <label for="">Usuario</label>
        <input type="text" id="username" name="username" required>
        <label for="">Contraseña</label>
        <input type="password" id="password" name="password"  >
        <button type="submit">Iniciar Sesion</button>
    </form>
</body>
</html>