<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleMain.css') }}">
    <title>Recuperar Contraseña</title>
</head>
<body>
    <h2>Recuperacion de contraseñas</h2>
    <p>Se le ha enviado un correo a -Correo.ejemplo@mail.com- C*********@ejemplo.com </p>
    <label for="backupCode">Codigo</label>
    <input type="text" name="backupCode" id="backupCode">
    <button>Validar</button>
</body>
</html>